<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tiem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DangKiServlet</display-name>
    <servlet-name>DangKiServlet</servlet-name>
    <servlet-class>controllers.DangKiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKiServlet</servlet-name>
    <url-pattern>/DangKiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controllers.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndexServlet</display-name>
    <servlet-name>ShowIndexServlet</servlet-name>
    <servlet-class>controllers.ShowIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexServlet</servlet-name>
    <url-pattern>/ShowIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemLoaiVacxinServlet</display-name>
    <servlet-name>ThemLoaiVacxinServlet</servlet-name>
    <servlet-class>controllers.ThemLoaiVacxinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemLoaiVacxinServlet</servlet-name>
    <url-pattern>/ThemLoaiVacxinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaLoaiVacxinServlet</display-name>
    <servlet-name>SuaLoaiVacxinServlet</servlet-name>
    <servlet-class>controllers.SuaLoaiVacxinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaLoaiVacxinServlet</servlet-name>
    <url-pattern>/SuaLoaiVacxinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaLoaiVacxinServlet</display-name>
    <servlet-name>XoaLoaiVacxinServlet</servlet-name>
    <servlet-class>controllers.XoaLoaiVacxinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaLoaiVacxinServlet</servlet-name>
    <url-pattern>/XoaLoaiVacxinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LichDatTiemServlet</display-name>
    <servlet-name>LichDatTiemServlet</servlet-name>
    <servlet-class>controllers.LichDatTiemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LichDatTiemServlet</servlet-name>
    <url-pattern>/LichDatTiemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LichSuTiemPhongServlet</display-name>
    <servlet-name>LichSuTiemPhongServlet</servlet-name>
    <servlet-class>controllers.LichSuTiemPhongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LichSuTiemPhongServlet</servlet-name>
    <url-pattern>/LichSuTiemPhongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanLyTiemChungServlet</display-name>
    <servlet-name>QuanLyTiemChungServlet</servlet-name>
    <servlet-class>controllers.QuanLyTiemChungServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanLyTiemChungServlet</servlet-name>
    <url-pattern>/QuanLyTiemChungServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TonKhoSV</display-name>
    <servlet-name>TonKhoSV</servlet-name>
    <servlet-class>controllers.TonKhoSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TonKhoSV</servlet-name>
    <url-pattern>/TonKhoSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>thongkeSV</display-name>
    <servlet-name>thongkeSV</servlet-name>
    <servlet-class>controllers.thongkeSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thongkeSV</servlet-name>
    <url-pattern>/thongkeSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hethanSV</display-name>
    <servlet-name>hethanSV</servlet-name>
    <servlet-class>controllers.hethanSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hethanSV</servlet-name>
    <url-pattern>/hethanSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LichDatTiemKHServlet</display-name>
    <servlet-name>LichDatTiemKHServlet</servlet-name>
    <servlet-class>controllers.LichDatTiemKHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LichDatTiemKHServlet</servlet-name>
    <url-pattern>/LichDatTiemKHServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LichSuTiemPhongKHServlet</display-name>
    <servlet-name>LichSuTiemPhongKHServlet</servlet-name>
    <servlet-class>controllers.LichSuTiemPhongKHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LichSuTiemPhongKHServlet</servlet-name>
    <url-pattern>/LichSuTiemPhongKHServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuyDangKyServlet</display-name>
    <servlet-name>HuyDangKyServlet</servlet-name>
    <servlet-class>controllers.HuyDangKyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuyDangKyServlet</servlet-name>
    <url-pattern>/HuyDangKyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVacxin</display-name>
    <servlet-name>AddVacxin</servlet-name>
    <servlet-class>controllers.AddVacxin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVacxin</servlet-name>
    <url-pattern>/AddVacxin</url-pattern>
  </servlet-mapping>
</web-app>